.add-link {
    padding-top: 25px;
}

.links-form {
    margin: 15px 0;
}

.edit-form {
    height: 100%;
}

.current-links {
    display: flex;
    justify-content: right;
    padding: 10px;
    margin: 10px 0;
    border: dashed;
}