{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'test-plan.css' %}">
{% endblock %}

{% block content %}

          <div class="container"><br><br>
              Qualquer dúvida sobre o software, download ou instalação entre em contato conosco por email


              <b>andredemori@ime.eb.br</b>
          </div><br><br>

            </div><br><br>
          </div>
<br><br><br><br><br><br><br><br><br><br><br><br>

   <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel"></h3>
              <ul class="footer-link">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="../static/img/imelogo.jpeg" alt="" height="150px"></h3>
                <div class="textwidget">
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis.</p>
                -->
                </div>

              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <br>
              <br>
              <h3 class="footer-titel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../static/img/gitlab_icon.png" width="10%" height="">&nbsp;gitlab</h3>
              <ul class="address">
                <li>
                  <a href="https://gitlab.com/andredemori/mini-manager_" target="_blank">https://gitlab.com/andredemori/mini-manager_</a>
                </li>
                <li>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel"></h3>
              <ul class="footer-link">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>MiniManager 2023 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>


{% endblock %}