<!-- START SECTION LOGIN -->
<div class="modal fade" id="log_user" data-bs-backdrop="static" tabindex="-1" aria-hidden="true" style="backdrop-filter: blur(5px);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-bg-dark">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="form" action="{% url 'account:account_login' %}" method="post">
                  {% csrf_token %}  
                  <div class="container">
                      <div class="row gx-3">
                          <div class="col-md-2">
                            <div class="mb-1">
                                User
                            </div>
                          </div>                        
                          <div class="col-md-10">
                              <div class="mb-2">
                                  <!--<input type="text" name="username" class="form-control form-control-sm" required>-->
                                  <select class="form-select" aria-label="Default select example" name="username" class="form-control form-control-sm" required>
                                    <option value="001brg">001bgr</option>
                                    <option value="010btl">010btl</option>
                                    <option value="011btl">011btl</option>
                                    <option value="001cia">001cia</option>
                                    <option value="002cia">002cia</option>
                                    <option value="003cia">003cia</option>
                                    <option value="004cia">004cia</option>
                                    <option value="001pel">001pel</option>
                                    <option value="002pel">002pel</option>
                                    <option value="003pel">003pel</option>
                                    <option value="004pel">004pel</option>
                                    <option value="005pel">005pel</option>
                                    <option value="006pel">006pel</option>
                                    <option value="001gc">001gc</option>
                                    <option value="002gc">002gc</option>
                                    <option value="003gc">003gc</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-2">
                            <div class="mb-1">
                                Password
                            </div>
                          </div>
                          <div class="col-md-10">
                              <div class="mb-3">
                                  <input type="password" name="password" class="form-control form-control-sm" placeholder="" required value="maisc21@">
                              </div>
                          </div>
                          <div class="col-md-9 mb-2">
                              <div class="d-grid">
                                  <button type="submit" class="btn btn-secondary d-inline-flex align-items-center justify-content-center">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill me-2" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                      </svg>
                                      <h6 class="pt-1 pb-0 mb-1">Sign in</h6>
                                  </button>
                              </div>
                          </div>                          
                          <div class="col-md-3 mb-2">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-danger d-inline-flex align-items-center justify-content-center" data-bs-dismiss="modal" aria-label="Close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg me-2" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                    </svg>
                                    <h6 class="pt-1 pb-0 mb-1">Close</h6>
                                </button>
                            </div>
                        </div>
                      </div>
                  </div>
              </form>
            </div>
        </div>
    </div>
  </div>