{% load static %}
<section class="about-content py-5 pt-2 bg-secondary">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-3 me-3">
                <h5 class="fw-bold" style="color: black;"> > Rooms Hierarchy </h5>
            </div>
        </div>          

        <div class="row  justify-content-center py-5">
            <div class="col-md-10 mb-2">
                <div class="about-content-image">
                    <img src="{% static 'images/hierarchy/hierarchy.png' %}" 
                    alt="" class="mx-auto d-block img-fluid full-width shadow">
                </div>
            </div>
        </div>
    </div>
</section>