{% load static %}
<section class="core py-5 border-bottom bg-secondary pt-5">
<!-- <section class="core {% if message_text %} py-4 mt-1 {% else %} py-5 {% endif %} border-bottom alert-secondary pt-5"> -->
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-3 me-3">
                <h5 class="fw-bold" style="color: black;"> > Ontology </h5>
            </div>
        </div>   

        <div class="row align-items-top pt-3 d-flex justify-content-center">

            <div class="col-md-6">
                <div class="home-header-text-holder pe-md-5 pt-2 pl-3">
                    <h6 class="fs-5 fw-light text-dark text-justify gy-3" style="line-height: 40px;">
                        The ontology proposed in this work is specifically designed
                        to improve the understanding of the textual message exchange
                        within C2 scenarios, while also serving as a basis for record-
                        ing data throughout the entire message exchange application
                        process. It was inspired by conjunct operations of the Armed
                        Forces, with its primary purpose being the identification of key
                        elements that constitute a message exchange in C2, as well as
                        how they relate to each other. Moreover, the elements that
                        result from message processing are also identified. Figure 1
                        presents a broad view of the complete ontology, where the
                        ontological model is divided into two large blocks, referred to
                        as Block A and Block B, each one representing a component
                        of the C2 message exchange process.               
                    </h6>   
                </div>
            </div>

            <div class="col-md-6 align-top pt-3">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner text-end">
                        <img src="{% static 'images/ontology/ontology_maisc2.png' %}" alt="" class="mx-auto d-block img-fluid full-width shadow">
                    </div>
                </div>          
            </div>

        </div>
    </div>
</section>