{% load static %}
<section class="site-features py-4 border-0 bg-body-tertiary alert-light">
  <div class="container">
    <div class="row border-0">
      <div class="col-md-3 py-3 me-3">
          <h5 class="fw-bold" style="color: black;"> > Researchers </h5>
      </div>
    </div>    
    <div class="row">      
        <div class="col-md-6 mb-md-0 mb-3 d-flex justify-content-center">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4 pt-3 pl-1">                    
                    <p class="d-flex justify-content-center">
                        <img src="{% static 'images/researchers/flavio_mosafi.jpg' %}" class="img-fluid rounded-circle mb-3" alt="...">
                    </p>
                    <p class="d-flex justify-content-center">
                        <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4533235E5&tokenCaptchar=03AGdBq24qDcvLaMKA_ibOoDINGSi4WZQ1dW4JpJmCkeomWMFF5MlfVCxQrDvB5j0chlKISlPcKAmR2whWYmq7Pqo8hGlE6VYaZleDk6E0pz8Yem8o_YrulgJFN9dZzfNVZmb3OhqlJ3ua2Hx0TxezTdEv53iQav2OEBnB9VrPmSoueQetEXoVLL_eAReUNldrR-vVfLk5En0Iqrzy5hJ1igLFwi6rntSBg2h6Y2W9ONIDuleMAnUiCwW_suM4qmkZQ10lKaKnTYxseKKrrPdjnApetIAqek6O9nXWL-14kO5BnKrjwBy3WxGts9lLrPsESYQGiJPCJKgj0ITlGXHe4F4t5DfuEVdAQYWQ3Ld4wpN26ClTnGnafvO4p4qzaPDTkoeQfIIe74zfXemgd6vp_Pi2VkZBIgIFoHdk4OrufFaSo9CFqcZP-I07cN_TIWq54BX4iWRitJwU4Gi5rsf13C5wrVfOw8Enyg" 
                        target="_blank" class="btn btn-sm btn-secondary d-inline-flex align-items-center justify-content-center">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text me-3" viewBox="0 0 16 16">
                              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                              <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                          Currículo <i class="pl-1">Lattes</i>
                        </a>
                    </p>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Flavio Mosafi</h5>
                      <p class="card-text align-justify">
                        Doutorando em Engenharia de Defesa com ênfase em Inteligência Artificial no Instituto Militar de Engenharia (IME). Mestrado em Sistemas de Computação no Instituto Militar de Engenharia (IME). Master Business Administration em Gestão Estratégica de TIC na Universidade Federal do Rio de Janeiro (UFRJ). Especialização em Administração de TI na Universidade Federal Fluminense (UFF).
                      </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-6 mb-md-0 mb-3 d-flex justify-content-center">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4 pt-3 pl-1">                    
                  <p class="d-flex justify-content-center">
                      <img src="{% static 'images/researchers/julio_duarte.jpg' %}" class="img-fluid rounded-circle mb-3" alt="...">
                  </p>
                  <p class="d-flex justify-content-center">
                      <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4761494Z6&tokenCaptchar=03AGdBq24wZDAimf8fmJ1OcdfPJnYjpRmYiwy3wpqnZnTLeHrdD9cx6Oj66fVkB25OloxzJSeL3yzsxQzVSvliKFaZumA9fUBxQVp8-BEdodg38L8bWfCzzmHLeez-5PGbbu-RlJ42n1i_OfNjKrMoJYo7R21CM682y7H8lNhUvvUuwxdGq9TTCa4CUD5IE2c7NyO9duwNgmhuAmi-PA31ojzDiwDY8f-sGNsK3ZGbAIPaiQqekBBlRAN86QKFPDaAVCsB4X3EUPeLbIaU3CtudgVIjKBclg4hFJADMCMCsX7A_2JAbxVjhm3uhLQ2vT0vBE1VO9M_jU0kVYzgrHKspaSRGZ5-Cgjnt1U9_7H2ezOHPNvmpI9J1h2mKMKCyJmgbKwXEhci7gFODDjWEyA9yp6lOoRicTwJ6yWeqrVFoHo8DUlrO2JrlMatOV4SiGiaZFZAAmXXwv92-tQNFV0Ko0sEMwkBgPV9aqtyIw48uDjWGdV2mqC0SwA" 
                      target="_blank" class="btn btn-sm btn-secondary d-inline-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text me-3" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        Currículo <i class="pl-1">Lattes</i>
                      </a>
                  </p>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Julio Duarte</h5>
                    <p class="card-text align-justify">
                      Doutorado e mestrado em Informática pela Pontifícia Universidade Católica do Rio de Janeiro (PUC-Rio). Atualmente é professor do Programa de Pós-graduação em Sistemas e Computação do Instituto Militar de Engenharia. Tem experiência em áreas multidisciplinares: aprendizado de máquina, aprendizado profundo, inteligência artificial, processamento de linguagem natural do português.     
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>        
    </div>

    <div class="row">      
      <div class="col-md-6 mb-md-0 mb-3 d-flex justify-content-center">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4 pt-3 pl-1">                    
                  <p class="d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                  </p>
                  <p class="d-flex justify-content-center">
                      <a href="#" 
                      target="_blank" class="btn btn-sm btn-secondary d-inline-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text me-3" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        Currículo <i class="pl-1">Lattes</i>
                      </a>
                  </p>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Maria Yoko</h5>
                    <p class="card-text align-justify">
                        ipsum dolor sit amet consectetur adipisicing elit. Amet praesentium sequi enim error distinctio laudantium nesciunt necessitatibus sapiente quo dignissimos, vitae molestiae dolorem consequatur porro a rem officiis quis. Reiciendis?
                    </p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-md-6 mb-md-0 mb-3 d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 pt-3 pl-1">                    
                <p class="d-flex justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                </p>
                <p class="d-flex justify-content-center">
                    <a href="#" 
                    target="_blank" class="btn btn-sm btn-secondary d-inline-flex align-items-center justify-content-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text me-3" viewBox="0 0 16 16">
                          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                          <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                      Currículo <i class="pl-1">Lattes</i>
                    </a>
                </p>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Luis Pires</h5>
                  <p class="card-text align-justify">
                   ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, quod accusantium. Perferendis possimus voluptate facilis rem. Aut amet mollitia hic cumque quia nostrum tempore, illum dolorem saepe accusantium error corporis!
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>               
    </div>    
  
  
  </div>
</section>