<footer class="main-footer text-bg-dark py-5 small mt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <h6>MAISC2</h6>
                <ul class="list-unstyled small">
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Project</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Chat</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Messages</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Researchers</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Microservice</a> </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>Menu</h6>
                <ul class="list-unstyled small">
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Project</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Chat</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Messages</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Researchers</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Microservice</a> </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>Diversos</h6>
                <ul class="list-unstyled small">
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Project</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Chat</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Messages</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Researchers</a> </li>
                    <li class="mb-2"> <a href="#" class="text-decoration-none text-secondary">Microservice</a> </li>
                </ul>
            </div>

        </div>
    </div>
</footer>