<!-- START SECTION LOGIN -->
<div class="modal fade" id="process_data" data-bs-backdrop="static" tabindex="-1" aria-hidden="true" style="backdrop-filter: blur(5px);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-bg-dark">
                <h5 class="modal-title">Processando dados</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-4">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
                    aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" 
                    style="width: 100%"></div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-12 text-center fs-5 font-italic">
                   aguarde, dados em processamento.........
                </div>
            </div>
        </div>
    </div>
</div>