<div class="col-md-4 bg-transparent align-items-start d-flex justify-content-start pl-0 ml-0">
    <form class="input-group input-group-sm" role="search" action="#">      
        <div class="input-group col-">
          <input type="text" class="form-control py-2 red-border font-italic fs-6 text-muted " type="search" id="form1" name="query"
          placeholder="Search" {% if query %} value="{{ query }}" {% endif %}
          aria-label="Recipient's username" aria-describedby="basic-addon2" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </div>
        </div>        
    </form>
</div>